/*
    Document   : style sheet
    Created on : 09/02/2013, 11:19:50
    Author     : Tamara Mendes e Daivid Silverio
*
*  //Tamara -> A maioria das classes são do bootstrap.criei algumas divs com classes para diferenciar
* cores, fontes e tamanhos. 
*/

body
{
    background: #FFFFFF;
}

.tamCab
{
    padding-left: 0;
    padding-right: 0;
}

.cabecalho
{
    background: #336699;
}

.hero-unit h1
{
    font-family: Verdana;
    color: #FFFFFF;
    height: 100px;
}

.corpo
{
    padding-left: 0;
    padding-right: 0;  
    margin: auto;
}

.menu
{
    margin-right: 15px;
    margin-left: 10px;

}

.linksuteis
{
    padding-left: 0;
    float: left;
}

.meio
{
    min-height: 746px;
    background-color: #f5f5f5;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0;
}

.meio2
{
    background: #fff;
    margin-top: 0;
    min-height: 740px;
}

.loginbotao
{
    color: #336699;
    background: #FFFFFF;
    padding-top: 7px;
}

