/* 
    Document   : style
    Created on : 20/01/2013, 14:16:19
    Author     : Rodrigo Kuninari
    Description:
        Purpose of the stylesheet follows.
*/

html
{ 
    margin: 0px;
    padding: 0px;
}

body
{ 
    margin: 0px;
    padding: 0px;
}

#corpo
{
    border-style: solid;
    width: 100%;
    position: absolute;
    margin: auto;
}

#cabecalho
{
    height: 100px;
    border-style: solid;
}

#meio
{
    width: 100%;
    border-style: solid;
    position: relative;
}

#menu
{
    width: 20%;
    border-style: solid;
    float: left;
}

#conteudo
{
    width: 58%;
    border-style: solid;
    float: left;
}

#links
{
    width: 20%;
    border-style: solid;
    float: right;
}

#rodape
{
    height: 100px;
    border-style: solid;
    width: 100%;
    float: right;
    position: relative;
}

.lista_dupla {
    width: 500px;
    margin-top: -35px;
    margin-left: 30px;
}

.lista_dupla, .lista_dupla_box {
    min-height: 100px;
}

.lista_dupla_box {
    width: 200px;
}

fieldset.box {
    width: 510px;
    clear: both;
}

fieldset.box > input[type=text], textarea {
    width: 510px;
}

fieldset.box > input, textarea {
    margin-bottom: 15px;
}

.lista_dupla div {
    display: inline-block;
}

.lista_dupla div * {
    display: block;
}

.lista_dupla .lista_dupla_buttons {
    position: relative;
    top: 70px;
}
