<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PetianoServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.petiano.PetianoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiaServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.noticia.NoticiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicacaoServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.publicacao.PublicacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.download.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjetoServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.projeto.ProjetoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NossaHistoriaServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.NossaHistoria.NossaHistoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.contato.ContatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorServlet</servlet-name>
        <servlet-class>br.ufms.facom.petsistemas.controller.tutor.TutorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoticiaServlet</servlet-name>
        <url-pattern>/noticia</url-pattern>
        <url-pattern>/novaNoticia</url-pattern>
        <url-pattern>/salvarNoticia</url-pattern>
        <url-pattern>/buscarNoticia</url-pattern>
        <url-pattern>/exibirNoticiaTitulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicacaoServlet</servlet-name>
        <url-pattern>/novaPublicacao</url-pattern>
        <url-pattern>/buscarPublicacao</url-pattern>
        <url-pattern>/exibirPublicacaoTitulo</url-pattern>
        <url-pattern>/salvarPublicacao</url-pattern>
        <url-pattern>/listarPublicacao</url-pattern>
        <url-pattern>/publicacao</url-pattern>
        <url-pattern>/alterarPublicacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/salvarDownload</url-pattern>
        <url-pattern>/listarDownload</url-pattern>
        <url-pattern>/novoDownload</url-pattern>
        <url-pattern>/alterarDownload</url-pattern>
        <url-pattern>/download</url-pattern>
        <url-pattern>/buscarDownload</url-pattern>
        <url-pattern>/excluirDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/deslogar</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjetoServlet</servlet-name>
        <url-pattern>/apagarProjeto</url-pattern>
        <url-pattern>/efetivarRemocaoProjeto</url-pattern>
        <url-pattern>/listarProjeto</url-pattern>
        <url-pattern>/novoProjeto</url-pattern>
        <url-pattern>/salvarProjeto</url-pattern>
        <url-pattern>/alterarProjeto</url-pattern>
        <url-pattern>/projeto</url-pattern>
        <url-pattern>/salvarAlteracaoProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NossaHistoriaServlet</servlet-name>
        <url-pattern>/nossaHistoria</url-pattern>
        <url-pattern>/voltarNossaHistoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoServlet</servlet-name>
        <url-pattern>/contato</url-pattern>
        <url-pattern>/enviarContato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorServlet</servlet-name>
        <url-pattern>/buscarTutor</url-pattern>
        <url-pattern>/listarTutor</url-pattern>
        <url-pattern>/editarTutor</url-pattern>
        <url-pattern>/atualizarTutor</url-pattern>
        <url-pattern>/tutor</url-pattern>
        <url-pattern>/exibirTutorCPF</url-pattern>
        <url-pattern>/tutorADM</url-pattern>
        <url-pattern>/salvarTutor</url-pattern>
        <url-pattern>/novoTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetianoServlet</servlet-name>
        <url-pattern>/editarPetiano</url-pattern>
        <url-pattern>/exibirPetianoCPF</url-pattern>
        <url-pattern>/listarPetiano</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/buscarPetiano</url-pattern>
        <url-pattern>/petiano</url-pattern>
        <url-pattern>/atualizarPetiano</url-pattern>
        <url-pattern>/petianoADM</url-pattern>
        <url-pattern>/novoPetiano</url-pattern>
        <url-pattern>/excluirPetiano</url-pattern>
        <url-pattern>/salvarPetiano</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
